@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://use.typekit.net/nbh2lgw.css");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

body {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.logo-container {
  width: 10%;
  float: left;
  position: fixed;
  writing-mode: vertical-rl;
  text-orientation: upright;
  top: 10vw;
}

.logo-img {
  width: 10%;
  position: fixed;
}

.logo-text {
  font-size: 2vw;
  margin: 0;
}

.search-container-logo {
  position: fixed;
  z-index: 1;
  background-color: #231815;
  width: 100%;
  height: 3vw;
  font-size: 2vw;
  letter-spacing: 0.5vw;
  text-indent: 1vw;
}

.search-container {
  background-color: #231815;
  color: #fff;
  width: 90%;
  margin-left: 10%;
}

.item-input {
  width: 100%;
  text-indent: 1vw;
  font-size: 2vw;
  position: fixed;
  top: 2.5vw;
  height: 3vw;
  z-index: 1;
  font-family: "Cinzel", serif;
}

/* .checkbox-input-scratch {
  z-index: 1;
  position: fixed;
  top: 6.6vw;
  right: 3.5vw;
}

.checkbox-input-camo {
  z-index: 1;
  position: fixed;
  top: 6.6vw;
  right: 23.5vw;
}

.checkbox-input-basewear {
  z-index: 1;
  position: fixed;
  top: 6.6vw;
  right: 34.5vw;
}

.checkbox-input-accessories {
  z-index: 1;
  position: fixed;
  top: 6.6vw;
  right: 49.5vw;
} */

.checkbox-styling {
  margin-left: 0.5vw;
}

.checkbox-text-styling {
  display: inline-block;
  font-size: 2vw;
  font-family: montserrat, sans-serif;
  font-weight: 600;
}

.checkbox-text-scratch {
  z-index: 1;
  position: fixed;
  top: 5.5vw;
  left: 10vw;
  text-indent: 1vw;
  background-color: #231815;
  color: white;
  width: 100%;
}

.checkbox-text-camo {
  z-index: 1;
  position: fixed;
  top: 5.5vw;
  right: 25vw;
  background-color: #231815;
  color: white;
  font-size: 2vw;
  font-family: montserrat, sans-serif;
  font-weight: 600;
}

.checkbox-text-basewear {
  z-index: 1;
  position: fixed;
  top: 5.5vw;
  right: 36vw;
  background-color: #231815;
  color: white;
  font-size: 2vw;
  font-family: montserrat, sans-serif;
  font-weight: 600;
}

.checkbox-text-accessories {
  z-index: 1;
  position: fixed;
  top: 5.5vw;
  right: 51vw;
  background-color: #231815;
  color: white;
  font-size: 2vw;
  font-family: montserrat, sans-serif;
  font-weight: 600;
}

.filter-container {
  z-index: 1;
  position: fixed;
  top: 5.5vw;
  right: 5vw;
  background-color: #231815;
  color: white;
  font-size: 2vw;
  font-family: montserrat, sans-serif;
  font-weight: 600;
}

.item-container {
  padding-top: 6vw;
}

.item-title {
  font-size: 2vw;
  text-align: center;
}

.item-image {
  padding-top: 1vw;
  width: 70%;
  margin: auto;
  text-align: center;
  display: block;
}
