img {
  cursor: pointer;
}

.flex {
  display: flex
}

.flex-wrap {
  flex-wrap: wrap
}

.logo-container {
  width: 10%;
  float: left;
  position: fixed;
  writing-mode: vertical-rl;
  text-orientation: upright;
  top: 10vw;
}

.logo-img {
  width: 10%;
  position: fixed;
}

.logo-text {
  font-size: 2vw;
  margin: 0;
}

.search-container-logo {
  position: fixed;
  z-index: 1;
  background-color: #231815;
  width: 100%;
  height: 3vw;
  font-size: 2vw;
}

.search-container {
  background-color: #231815;
  color: #fff;
  width: 90%;
  margin-left: 10%;
}

.item-input {
  width: 100%;
  text-indent: 1vw;
  font-size: 2vw;
  position: fixed;
  top: 2.5vw;
  height: 3vw;
  z-index: 1;
}

.checkbox-input {
  z-index: 1;
  position: fixed;
  top: 3.75vw;
  right: 3.5vw;
}

.checkbox-text {
  z-index: 1;
  position: fixed;
  top: 3.5vw;
  right: 5vw;
  color: black;
}

.item-container {
  padding-top: 6vw;
}

.item-title {
  font-size: 2vw;
  text-align: center;
}

.item-image {
  padding-top: 1vw;
  width: 70%;
  margin: auto;
  text-align: center;
  display: block;
}
